html {
    background-color: rgba(248,249,250);
}
thead {
    position: sticky;
    top: 0;
    background-color: #EEE;
}

.rightpanel {
    width: 60%;
    right: 0;
    position: absolute;
    top: 56px;
}

.leftpanel {
    width: 40%;
    left: 0;
    position: absolute;
    top: 56px;
}
