html {
    background-color: rgba(248,249,250);
}
thead {
    position: sticky;
    top: 0;
    background-color: #EEE;
}

.rightpanel {
    width: 90%;
    right: 0;
    position: absolute;
    top: 56px;
    min-height: 94%;
}

.leftpanel {
    width: 10%;
    left: 0;
    position: absolute;
    top: 56px;
    min-height: 94%;
}
