html{
    background:
        url(/img/bgbig.png) center no-repeat;
    background-size: cover;
}

body {
    height: 100vh;
}

.reg-box {
    width: 90%;
    top: 320px;
}

.reg-box div {
    font-size: 0.3rem;
    font-weight: 700;
    margin: 0 0 14px;
    padding: 0;
    color: #fff;
    text-align: start;
}

.reg-box .user-box {
    font-weight: 400;
    position: relative;
}

.reg-box .user-box input {
    width: 100%;
    padding: 2px 0;
    font-size: 16px;
    color: #fff;
    margin-bottom: 0vmax;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background: transparent;
}
.reg-box .user-box label {
    top:4px;
    font-size: 0.16rem;
    padding: 10px 0;
}


.reg-box .user-box input:focus ~ label,
.reg-box .user-box input:valid ~ label {
    top: -8px;
    left: 0;
    opacity: 0.5;
    font-size: 0.12rem;
}
.reg-box .user-box input:focus ~ div,
.reg-box .user-box input:valid ~ div {
    opacity: 0;
}

.reg-box .user-box div {
    top:8px;
    font-size: 0.12rem;
    padding: 10px;
}

.reg-box a {
    top:40px;
    font-size: 0.18rem;
}

.prikol {
    font-size: 0.16rem;
}
